@media only screen and (max-width: 734px) {
    .bestsellers-box {
        .title-box {
            padding: 20px 25px !important;
        }
    }
}
.bestsellers-box {
    background: linear-gradient(to right,#8ed4e8 0,#8f7be8 100%);
    .title-box {
        padding: 40px 96px;
        h1 {
            font-size: 35px;
            line-height: 39px;
            color: #fff;
            font-weight: bold;
        }
        p {
            font-size: 16px;
            color: #fff;
            font-weight: bold;
        }
    }
}
#categories-main {
    .accordion-body {
        padding: 0 10px;
    }
    .categories-main-box {
        background-color: #f2f7ff;
        padding: 15px;
    }
    .accordion-item {
        background-color: transparent;
        border: none;
    }
    .accordion-button {
        background-color: transparent;
    }
    .accordion-button:focus {
        border: none;
        box-shadow: none;
    }
    .accordion-button:not(.collapsed) {
        color: black;
        background-color: transparent;
        box-shadow: none;
    }
    .categories-main-box {
        .list-group-item {
            background-color: transparent;
            border: none;
            a {
                color: black;
                &:hover {
                    color: #757575;
                }
            }
        }
    }
    .dropdown {
        display: flex;
        justify-content: end;
        .dropdown-toggle {
            width: 170px;
            background: transparent;
            color: black;
            border: none;
            border-top: 1px solid black;
            border-radius: 0px;
            border-bottom: 1px solid black;
            &:hover {
                color: black;
                border-color: black;
                background-color: transparent;
            }
            &:focus {
                box-shadow: none;
                color: black;
                border-color: black;
                background-color: transparent;
            }
        }
        .dropdown-menu {
            background-color: #f6ecf3;
            border-radius: 0;
            border: none;
        }
    }
    .arrivals-img {
        height: 290px;
        background-repeat: no-repeat;
        background-size: contain;

        span {
            padding: 3px 8px;
            background-color: #F5EA77;
            color: #333;
        }
    }

    .img-1 {
        background-image: url("../img/Skin_Mergency_Treatment_Set_Carton_Front__58833.jpg");

        &:hover {
            background-image: url("../img/Skin_Mergency_Lactic_Acid_PINK_SWATCH_A__21458.jpg");
        }
    }

    .img-2 {
        background-image: url("../img/KP_Skin_Smoothing_Body_Butter__13368.jpg");

        &:hover {
            background-image: url("../img/KP_Skin_Smoothing_Body_Butter_Swatch_A__26980.webp");
        }
    }

    .img-3 {
        background-image: url("../img/Mighty_Biome_Moisturizer_Concentrate_Front__50376.webp");

        &:hover {
            background-image: url("../img/Mighty_Biome_Moisturizer_Concentrate_Swatch_A__27977.webp");
        }
    }

    .img-4 {
        background-image: url("../img/Mighty_Biome_Toner_Front__30153.webp");

        &:hover {
            background-image: url("../img/Mighty_Biome_Toner_Swatch_A__13604.webp");
        }
    }

    .card-body {
        text-align: center;
        height: 190px;
        padding: 0 0 15px 0;
        position: relative;



        .card-title {
            font-size: 16px;
            line-height: 17px;
            font-weight: 600;
            color: #333;
        }

        .card-text {
            font-size: 13px;
            line-height: 15px;
            margin-top: 8px;
        }

        .arrival-btn {
            position: absolute;
            transform: translateX(-50%);
            bottom: 20px;
            height: 40px;
            width: 180px;
            border: none;
            border-radius: 0;
            cursor: pointer;
            background-color: #8CD0E3;
            box-shadow: 3px 3px 0 #f5ea77;

            &:hover {
                box-shadow: 3px 3px 0 #fdb1be;
                background-color: #948AD3;
            }
        }
    }
    .pages {
        span {
            cursor: pointer;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        .current {
            border: 1px solid gray;
            color: black !important;
        }
        .page {
            font-size: 1em;
            padding: 5px 12px;
            color: gray;
        }
    }
}
