input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}
#toast-container > .toast {
    width: 285px !important;
  }
@media only screen and (max-width: 355px) {
    .arrivals-img {
        height: 300px !important;
    }

    .arrival-btn {
        font-size: 14px !important;
        height: 35px !important;
        width: 145px !important;
    }

    .info-text {
        p {
            font-size: 12px !important;
        }
    }

    .logo {
        height: 30px !important;
    }
}

@media only screen and (max-width: 395px) {

    .violet-box,
    .yellow-box,
    .purple-box {
        height: 350px !important;

        .slider-img {
            width: 260px !important;

        }

        padding: 0 0 20px 0 !important;
    }
}

@media only screen and (min-width:355px) and (max-width: 395px) {
    .arrivals-img {
        height: 335px !important;
    }
}

@media only screen and (max-width: 425px) {

    .nav-user-list {
        margin: 0 !important;
    }

    .navbar-toggler {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 450px) {
    .hidden-search {
        width: auto !important;
    }

    .item-count {
        left: 12px !important;
    }
}

@media only screen and (min-width:395px) and (max-width: 510px) {
    .arrivals-img {
        height: 435px !important;
    }

    .violet-box,
    .yellow-box,
    .purple-box {
        padding: 0 0 20px 0 !important;
        height: 400px !important;

        .slider-img {
            width: 380px !important;
        }

    }
}

@media only screen and (max-width: 510px) {
    .common-container {
        padding: 0 !important;

        .my-item {
            text-align: center !important;
            margin-bottom: 50px;

            img {
                width: 100% !important;
            }

            .text-box {
                width: 100% !important;
                position: static !important;
                transform: none !important;
            }

            .two-items-btn {
                margin-top: 10px !important;
                transform: none !important;
                position: static !important;
            }
        }
    }

    h1 {
        font-size: 17px !important;
    }

    .violet-paragraph {
        font-size: 11px !important;
    }
}

@media only screen and (min-width: 510px) and (max-width: 768px) {
    .my-item {
        margin-bottom: 100px;

        img {
            width: 390px !important;
        }

        .text-box {
            width: 355px !important;
        }

        .two-items-btn {
            transform: translateX(-200%) !important;
        }
    }

    .menu-box {
        width: 516px !important;
    }

    .arrivals-img {
        height: 485px !important;
    }

    .violet-box,
    .yellow-box,
    .purple-box {
        padding: 0 0 20px 0 !important;

        .slider-img {
            width: 455px !important;

        }
    }

    h1 {
        font-size: 22px !important;
    }

    .violet-paragraph {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 768px) {
    .arrivals-container {
        padding: 0 15px !important;
    }
    .modal-body {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .idea-img {
        height: auto !important;
    }


    .my-item {
        margin-bottom: 100px;

        .text-box {
            width: 520px !important;
        }

        .two-items-btn {
            transform: translateX(170%) !important;
        }
    }

    .menu-box {
        width: 696px !important;
    }

    .arrivals-img {
        height: 200px !important;
    }

    .arrival-btn {
        font-size: 14px !important;
        height: 35px !important;
        width: 145px !important;
    }

    .violet-box,
    .yellow-box,
    .purple-box {
        height: 540px !important;
        padding: 0 0 20px 0 !important;

        .slider-img {
            width: 550px !important;
        }
    }

    h1 {
        font-size: 22px !important;
    }

    .violet-paragraph {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 992px) {
    .right-side-cruelty {
        img {
            width: 100% !important;

        }
    }

    .navbar-toggler {
        margin: 10px 0px !important;
    }

    .nav-item .nav-link {
        color: black !important;
        padding: 10px 0px !important;
    }

    .findus-list {
        display: none !important;
    }

    .menu-box {
        height: 82px !important;
    }

    .my-modal-content {
        width: 100% !important;

        .empty-modal {
            padding: 50px 0 !important;
        }
    }

    .slider-container {
        padding: 15px !important;

        .slider-box {
            text-align: center !important;



            .violet-box,
            .yellow-box,
            .purple-box {
                width: 100% !important;

                .slider-img {
                    height: auto !important;
                    position: static !important;
                }
            }

            .violet-box {
                background: linear-gradient(to bottom, #FBEFEF 0, #FBCFC2 100%) !important;
            }

            .purple-box {
                background: linear-gradient(to bottom, #FFFFFF 0, #C679CA 100%) !important;
            }

            .yellow-box {
                background: linear-gradient(to bottom, #FFFFFF 0, #FFF49A 100%) !important;
            }



            .violet-btn,
            .yellow-btn,
            .purple-btn {
                font-size: 13px !important;
                height: 28px !important;
                width: 119px !important;
            }
        }
    }

}

@media only screen and (min-width:992px) {

    .my-toggle-btn {
        display: none !important;
    }


}


@media only screen and (min-width:992px)and (max-width: 1200px) {
    .idea-img {
        height: 201px !important;
    }

    .right-side-cruelty {
        img {
            width: 416px !important;

        }
    }

    .my-item {
        img {
            width: 393px !important;
        }

        .text-box {
            width: 355px !important;
        }

        .two-items-btn {
            transform: translateX(-205%) !important;
        }
    }

    .menu-box {
        width: 936px !important;
    }

    .arrivals-img {
        height: 200px !important;
    }

    .card-text {
        font-size: 10px !important;
        margin: 0 !important;
    }

    .card-title {
        font-size: 14px !important;
    }

    .my-modal-content {
        width: 38% !important;

        .empty-modal {
            padding: 70px 92px !important;
        }
    }

    .slider-img {
        width: 440px !important;
        height: auto !important;
    }

    .violet-box,
    .purple-box,
    .yellow-box {
        height: 346px !important;
        padding: 50px 0px 80px 275px !important;

        h1 {
            font-size: 25px !important;
        }

        .violet-paragraph {
            font-size: 20px !important;
        }
    }
}

@media only screen and (min-width:1200px)and(max-width: 1400px) {
    .right-side-cruelty {
        img {
            width: 506px !important;

        }
    }

    .my-item {
        img {
            width: 483px !important;
        }

        .text-box {
            width: 440px !important;
        }

        .two-items-btn {
            transform: translateX(-235%) !important;
        }
    }

    .menu-box {
        width: 1116px !important;
    }

    .arrivals-img {
        height: 230px !important;
    }

    .my-modal-content {
        width: 33% !important;

        .empty-modal {
            padding: 70px 99px !important;
        }
    }

    .violet-box,
    .purple-box,
    .yellow-box {
        height: 455px !important;
        padding: 100px 0px 100px 450px !important;
    }
}


ul,
li {
    list-style-type: none;
}

ol,
ul {
    padding-left: 0;
}

a {
    text-decoration: none;
}

header {
    .info-text {
        background: linear-gradient(to right, #ff6699 0%, #cc33ff 100%);
        height: 40px;

        p {
            margin-bottom: 3px;
            color: white;
            letter-spacing: .5px;
            font-size: 13px;
            font-weight: 900;
        }
    }

    .hidden-menu-box {
        height: 115px;
        width: 100%;
    }

    .menu-box {
        background-color: rgb(140, 208, 227);
        height: 115px;
        padding: 15px 0px 5px 0px;

        .nav-user {
            margin: 0 20px;
            height: 67px;

            .nav-user-section {
                .navbar-toggler {
                    border: none;
                    margin: 0 0 20px 0 !important;
                }

                .nav-user-list {
                    margin: 0 15px;
                    text-align: center;

                    .fa-magnifying-glass,
                    .fa-location-dot,
                    .fa-hand-sparkles,
                    .fa-basket-shopping {
                        color: white;

                    }

                    .bag-btn {
                        position: relative;

                        .item-count {
                            position: absolute;
                            position: absolute;
                            top: 8px;
                            left: 23px;
                            border: 1px solid #f5ea77;
                            background-color: #f5ea77;
                            border-radius: 50%;
                            color: black;
                            height: 20px;
                            width: 20px;
                            font-weight: 600;
                            font-size: 13px;
                        }
                    }

                    .search-text,
                    .findus-text,
                    .login-text,
                    .bag-text {
                        font-size: 15px;
                        color: white;
                        display: block;
                    }
                }

            }

            .logo {
                width: 101px;
                height: 35px;
                margin-top: 15px;
            }
        }

        .navigation-bar {
            .navbar {
                padding: 0;
                z-index: 999;

                .navbar-nav {
                    color: white;
                    font-size: 15px;
                    font-weight: 600;

                    .nav-link {
                        color: white;
                        margin: 0 12px;
                        padding: 0;

                        &:hover {
                            color: #f5ea77;
                        }
                    }
                }
            }


        }

    }

    .hidden-search-box {
        background-color: white;
        position: absolute;
        width: 100%;
        height: 114px;
        z-index: 999;

        .hidden-search {
            border: 1px solid gray;
            background-color: #f5ea77;
            padding-left: 15px;
            height: 40px;
            width: 420px;

            &:focus-visible {
                outline: none;
            }

        }

        ::placeholder {
            color: black;
            opacity: 1;
        }

        :-ms-input-placeholder {
            color: black;
        }

        ::-ms-input-placeholder {
            color: black;
        }
    }


    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

}


main {

    .modal-position {
        .my-modal {
            display: none;
            position: absolute;

            justify-content: end;
            z-index: 999;

            left: 0;
            top: 0;
            width: 100%;

            min-height: 600px;

            overflow: auto;

            .my-modal-content {
                position: relative;
                background-color: #fefefe;
                width: 30%;
                -webkit-animation-name: animatetop;
                -webkit-animation-duration: 0.4s;
                animation-name: animatetop;
                animation-duration: 0.4s;

                .modal-body {
                    padding: 30px 16px;

                    .view-full {
                        text-align: end;
                        margin: 20px;
                        display: inline-block;
                        color: black;
                        font-size: 14px;
                        &:hover {
                            color: #757575;
                        }
                    }

                    .empty-modal {
                        display: inline-block;
                        padding: 70px 109px;
                        text-align: center;
                    }
                }
            }
        }
    }


    .slider-container {
        background-color: white;
        padding: 40px 40px 10px 40px;

        .owl-carousel {

            .slider-box {
                position: relative;


                .violet-box,
                .yellow-box,
                .purple-box {
                    height: 483px;
                    width: 80%;
                    top: 0;
                    right: 0;
                    float: right;
                    z-index: -1;
                    padding: 100px 0px 145px 450px;

                    .slider-img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 650px;
                        height: 450px;
                        display: inline-block;
                        padding: 15px;
                    }

                    h1 {
                        font-weight: bold;
                    }

                    .violet-paragraph {
                        font-size: 21px;
                    }

                    .violet-btn,
                    .yellow-btn {
                        height: 40px;
                        width: 145px;
                        border: none;
                        border-radius: 0;

                        cursor: pointer;

                    }
                }

                .violet-box {
                    background: linear-gradient(to right, #FBEFEF 0, #FBCFC2 100%);

                    .violet-btn {
                        background-color: #8CD0E3;
                        box-shadow: 3px 3px 0 #f5ea77;

                        &:hover {
                            box-shadow: 3px 3px 0 #fdb1be;
                            background-color: #948AD3;
                        }
                    }
                }

                .yellow-box {
                    background: linear-gradient(to right, #FFFFFF 0, #FFF49A 100%);

                    .yellow-btn {
                        background-color: #F4EA77;
                        box-shadow: 3px 3px #73D2E4;

                        &:hover {
                            box-shadow: 3px 3px 0 #948ad3;
                            background-color: #fdb1be;
                        }
                    }
                }

                .purple-box {
                    background: linear-gradient(to right, #FFFFFF 0, #C679CA 100%);

                    .violet-btn {
                        background-color: #8CD0E3;
                        box-shadow: 3px 3px 0 #f5ea77;

                        &:hover {
                            box-shadow: 3px 3px 0 #fdb1be;
                            background-color: #948AD3;
                        }
                    }
                }

            }
        }
    }

    .arrivals-back {
        background: #f3f8fe;
        padding-top: 30px;

        .arrivals-container {
            padding: 0 55px;

            .name-of-sect {
                text-align: center;
            }

            .second-slider {
                position: relative;

                .owl-nav {
                    position: absolute;

                    .owl-prev {
                        position: absolute;
                    }
                }

                .arrivals-img {
                    height: 290px;
                    background-repeat: no-repeat;
                    background-size: contain;

                    span {
                        padding: 3px 8px;
                        background-color: #F5EA77;
                        color: #333;
                    }
                }

                .img-1 {
                    background-image: url("../img/Skin_Mergency_Treatment_Set_Carton_Front__58833.jpg");

                    &:hover {
                        background-image: url("../img/Skin_Mergency_Lactic_Acid_PINK_SWATCH_A__21458.jpg");
                    }
                }

                .img-2 {
                    background-image: url("../img/KP_Skin_Smoothing_Body_Butter__13368.jpg");

                    &:hover {
                        background-image: url("../img/KP_Skin_Smoothing_Body_Butter_Swatch_A__26980.webp");
                    }
                }

                .img-3 {
                    background-image: url("../img/Mighty_Biome_Moisturizer_Concentrate_Front__50376.webp");

                    &:hover {
                        background-image: url("../img/Mighty_Biome_Moisturizer_Concentrate_Swatch_A__27977.webp");
                    }
                }

                .img-4 {
                    background-image: url("../img/Mighty_Biome_Toner_Front__30153.webp");

                    &:hover {
                        background-image: url("../img/Mighty_Biome_Toner_Swatch_A__13604.webp");
                    }
                }

                .card-body {
                    text-align: center;
                    height: 190px;
                    padding: 0 0 15px 0;
                    position: relative;



                    .card-title {
                        font-size: 16px;
                        line-height: 17px;
                        font-weight: 600;
                        color: #333;
                    }

                    .card-text {
                        font-size: 13px;
                        line-height: 15px;
                        margin-top: 8px;
                    }

                    .arrival-btn {
                        position: absolute;
                        transform: translateX(-50%);
                        bottom: 20px;
                        height: 40px;
                        width: 180px;
                        border: none;
                        border-radius: 0;
                        cursor: pointer;
                        background-color: #8CD0E3;
                        box-shadow: 3px 3px 0 #f5ea77;

                        &:hover {
                            box-shadow: 3px 3px 0 #fdb1be;
                            background-color: #948AD3;
                        }
                    }
                }
            }
        }

    }

    .only-bliss-container {
        background-color: white;

        .border-box {
            border: 1px solid #8cd0e3;
            border-right: none;
            border-left: none;
            padding: 10px 0;

            h3 {
                font-size: 18px;
                line-height: 22px;
                font-weight: bold;
                margin: 0;
            }

            .items-box {
                width: 220px;

                img {
                    margin-bottom: 10px;
                    display: inline-block;
                }

                .text-box {
                    margin-left: 10px;

                    p {

                        font-weight: bold;
                        margin: 0;
                        font-size: 12px;
                        text-align: left;

                    }
                }
            }
        }
    }

    .rating {
        margin-bottom: 8px;

        .fa-heart {
            color: #73D2E6;
        }

        .my-heart {
            color: #D7D7D7;
        }
    }

    .gradient-box {
        background: linear-gradient(to bottom, #8cd0e3 0, #f08ccd 100%);

        .common-container {
            padding: 45px 63px 85px;

            .my-item {
                position: relative;

                img {
                    width: 573px;
                }

                .text-box {
                    width: 520px;
                    position: absolute;
                    bottom: -28px;
                    transform: translateX(5%);
                    text-align: center;
                    background-color: white;
                    padding: 13px 38px 24px;

                    h3 {
                        font-size: 18px;
                        line-height: 22px;
                        margin: 0;
                        font-weight: bold;
                    }

                    p {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }

                .two-items-btn {
                    position: absolute;
                    transform: translateX(-272%);
                    bottom: -45px;
                    height: 40px;
                    width: 130px;
                    border: none;
                    border-radius: 0;
                    cursor: pointer;
                    background-color: #8CD0E3;
                    box-shadow: 3px 3px 0 #f5ea77;

                    &:hover {
                        box-shadow: 3px 3px 0 #fdb1be;
                        background-color: #948AD3;
                    }
                }
            }
        }
    }

    .back-cruelty {
        background: #d4deff;
        padding: 40px;

        .left-side-cruelty {
            display: flex;
            align-items: center;
            flex-direction: column;

            h2 {
                font-weight: 500;
                font-size: 30px;
                line-height: 34px;
                color: #000;
                margin-bottom: 0.5rem;
                margin-top: 0;
            }

            p {
                font-size: 16px;
            }

            .cruelty-btn {
                height: 40px;
                width: 180px;
                border: none;
                margin-bottom: 10px;
                border-radius: 0;
                cursor: pointer;
                background-color: #8CD0E3;
                box-shadow: 3px 3px 0 #f5ea77;

                &:hover {
                    box-shadow: 3px 3px 0 #fdb1be;
                    background-color: #948AD3;
                }
            }
        }

        .right-side-cruelty {
            img {
                width: 596px;

            }
        }
    }

    .idea-back {
        background-color: #ffe7cd;
        text-align: center;
        padding: 30px;

        h2 {
            font-size: 30px;
            line-height: 24px;
            font-weight: bold;
        }

        p {
            font-size: 16px;
            line-height: 19px;
        }

        .card {
            border: none;
            background-color: transparent;
            margin-top: 20px;

            .idea-img {
                height: 291px;
                background-size: cover;
            }

            .card-body {
                height: 140px;
                position: relative;

                .card-title {
                    font-size: 16px;
                    line-height: 17px;
                    font-weight: bold;
                    color: #000;
                }

                .card-text {
                    font-size: 13px;
                    line-height: 17px;
                }

                .idea-btn {
                    position: absolute;
                    transform: translate(-50%, 0px);
                    bottom: 0px;
                    height: 40px;
                    width: 180px;
                    border: none;
                    border-radius: 0;
                    cursor: pointer;
                    background-color: #8CD0E3;
                    box-shadow: 3px 3px 0 #f5ea77;

                    &:hover {
                        box-shadow: 3px 3px 0 #fdb1be;
                        background-color: #948AD3;
                    }
                }
            }
        }
    }

    .last-slider-box {
        background-color: white;
        padding: 20px 40px;
        text-align: center;

        a {
            color: black;
            font-size: 28px;
            font-weight: bold;

        }

    }
}

footer {
    .ftr-box {
        border-top: 1px solid #e5e5e5;

        background-color: #73d2e6;

        .left-side-ftr {
            padding: 40px 20px 0 40px;

            img {
                width: 80px;
            }

            h3 {
                margin-top: 10px;
                font-size: 24px;
                line-height: 22px;
                color: white;
            }

            p {
                color: white;
            }

            ul li {
                padding: 0;
                background-color: transparent;
                border: none;
            }

            a {
                color: white;
            }

            i {
                margin-right: 5px;
                color: #ff99cc;
            }

        }

        .mail-box {
            height: 100%;
            padding: 28px 20px;
            background-color: #f5ea77;
            text-align: center;

            h3 {
                font-size: 20px;
                color: black;
            }

            p {
                font-size: 16px;
                line-height: 21px;
            }



        }
    }
}

form {
    .mail-text {
        background-color: #fff;
        border-color: #ccc;
        border-style: solid;
        border-width: 1px;
        width: 100%;
        color: #666;
        height: 48px;
        font-size: 15px;
        margin-bottom: 30px;
        padding-left: 10px;

        &:focus-visible {
            outline: none;
        }
    }

    .mail-btn {
        height: 40px;
        width: 100%;
        border: none;
        border-radius: 0;
        cursor: pointer;
        background-color: #8CD0E3;
        box-shadow: 3px 3px 0 #fdb1be;

        &:hover {
            background-color: #948AD3;
        }
    }
}
.basket-count {
    width: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .fa-solid {
        margin: 0 5px;
        cursor: pointer;
    }
    input {
        width: 100%;
    }
}

.owl-dot {
    span {
        background: transparent !important;
        border: 1px solid #C1C1C1 !important;
    }

}

.owl-dots {
    margin-top: 10px;

    .owl-dot.active {
        span {
            background-color: rgb(170, 183, 228) !important;
            border: 20px !important;
            width: 23px !important;
            height: 10px !important;
        }

    }
}