input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

@media only screen and (max-width: 340px) {
    .info-text {
        p {
            font-size: 12px !important;
        }
    }

    .logo {
        height: 30px !important;
    }
}

@media only screen and (max-width: 425px) {
    .nav-user-list {
        margin: 0 !important;
    }

    .navbar-toggler {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 450px) {
    .hidden-search {
        width: auto !important;
    }

    .item-count {
        left: 12px !important;
    }
}

@media only screen and (max-width: 992px) {

    .navbar-toggler {
        margin: 10px 0px !important;
    }

    .nav-item .nav-link {
        color: black !important;
        padding: 10px 0px !important;
    }

    .findus-list {
        display: none;
    }

    .menu-box {
        height: 82px !important;
    }
    .my-modal-content {
        width: 100% !important;
        .empty-modal {
            padding: 50px 0 !important;
        }
    }
    
}

@media only screen and (min-width:992px) {

    .my-toggle-btn {
        display: none;
    }

}


@media only screen and (min-width:992px)and (max-width: 1200px) {

    .my-modal-content {
        width: 38% !important;

        .empty-modal {
            padding: 70px 92px !important;
        }
    }
}

@media only screen and (min-width:1200px)and(max-width: 1400px) {

    .my-modal-content {
        width: 33% !important;

        .empty-modal {
            padding: 70px 99px !important;
        }
    }
}
.owl-nav {
    display: none;
}
ul,
li {
    list-style-type: none;
}

ol,
ul {
    padding-left: 0;
}

a {
    text-decoration: none;
}

header {
    .info-text {
        background: linear-gradient(to right, #ff6699 0%, #cc33ff 100%);
        height: 40px;

        p {
            margin-bottom: 3px;
            color: white;
            letter-spacing: .5px;
            font-size: 13px;
            font-weight: 900;
        }
    }

    .menu-box {
        background-color: rgb(140, 208, 227);
        height: 115px;
        padding: 15px 0px 5px 0px;

        .nav-user {
            margin: 0 20px;
            height: 67px;

            .nav-user-section {
                .navbar-toggler {
                    border: none;
                    margin: 0 0 20px 0 !important;
                }

                .nav-user-list {
                    margin: 0 15px;
                    text-align: center;

                    .fa-magnifying-glass,
                    .fa-location-dot,
                    .fa-hand-sparkles,
                    .fa-basket-shopping {
                        color: white;

                    }

                    .bag-btn {
                        position: relative;

                        .item-count {
                            position: absolute;
                            position: absolute;
                            top: 8px;
                            left: 23px;
                            border: 1px solid #f5ea77;
                            background-color: #f5ea77;
                            border-radius: 50%;
                            color: black;
                            height: 20px;
                            width: 20px;
                            font-weight: 600;
                            font-size: 13px;
                        }
                    }

                    .search-text,
                    .findus-text,
                    .login-text,
                    .bag-text {
                        font-size: 15px;
                        color: white;
                        display: block;
                    }
                }

            }

            .logo {
                width: 101px;
                height: 35px;
                margin-top: 15px;
            }
        }

        .navigation-bar {
            .navbar {
                padding: 0;
                z-index: 999;

                .navbar-nav {
                    color: white;
                    font-size: 15px;
                    font-weight: 600;

                    .nav-link {
                        color: white;
                        margin: 0 12px;
                        padding: 0;

                        &:hover {
                            color: #f5ea77;
                        }
                    }
                }
            }


        }

    }

    .hidden-search-box {
        background-color: white;
        position: absolute;
        width: 100%;
        height: 114px;
        z-index: 999;

        .hidden-search {
            border: 1px solid gray;
            background-color: #f5ea77;
            padding-left: 15px;
            height: 40px;
            width: 420px;

            &:focus-visible {
                outline: none;
            }

        }

        ::placeholder {
            color: black;
            opacity: 1;
        }

        :-ms-input-placeholder {
            color: black;
        }

        ::-ms-input-placeholder {
            color: black;
        }
    }


    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

}


main {

    .modal-position {
        .my-modal {
            display: none;
            position: absolute;
    
            justify-content: end;
            z-index: 999;
    
            left: 0;
            top: 0;
            width: 100%;
    
            min-height: 600px;
    
            overflow: auto;
            .my-modal-content {
                position: relative;
                background-color: #fefefe;
                width: 30%;
                -webkit-animation-name: animatetop;
                -webkit-animation-duration: 0.4s;
                animation-name: animatetop;
                animation-duration: 0.4s;
    
                .modal-body {
                    padding: 2px 16px;
    
                    .empty-modal {
                        display: inline-block;
                        padding: 70px 109px;
                        text-align: center;
                    }
                }
            }
        }
    }
   

    .slider-container {
        background-color: white;
        padding: 40px;

        .owl-carousel {

            .slider-box {
                position: relative;
                z-index: -1;

                .slider-img {
                    width: 650px;
                    height: 450px;
                    display: inline-block;
                    padding: 15px;
                }

                .violet-box {
                    position: absolute;
                    background: linear-gradient(to right, #FBEFEF 0, #FBCFC2 100%);
                    top: 0;
                    right: 0;
                    width: 80%;
                    height: 100%;
                    z-index: -1;
                    padding: 100px 0px 0 450px;

                    .violet-paragraph {
                        font-size: 21px;
                    }

                    .violet-btn {
                        height: 40px;
                        width: 145px;
                        border: none;
                        border-radius: 0;
                        background-color: #F4EA77;
                        box-shadow: 3px 3px #73D2E4;
                        cursor: pointer;
                        &:hover {
                            box-shadow: 3px 3px 0 #948ad3;
                            background-color: #fdb1be;
                        }
                    }
                }

            }


        }
    }

}