.bestsellers-box {
    background: linear-gradient(to right,#8ed4e8 0,#8f7be8 100%);
    .title-box {
        padding: 40px 96px;
        h1 {
            font-size: 35px;
            line-height: 39px;
            color: #fff;
            font-weight: bold;
        }
        p {
            font-size: 16px;
            color: #fff;
            font-weight: bold;
        }
    }
}