input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

@media only screen and (max-width: 355px) {
  .arrivals-img {
    height: 300px !important;
  }
  .arrival-btn {
    font-size: 14px !important;
    height: 35px !important;
    width: 145px !important;
  }
  .info-text p {
    font-size: 12px !important;
  }
  .logo {
    height: 30px !important;
  }
}

@media only screen and (max-width: 395px) {
  .violet-box,
  .yellow-box,
  .purple-box {
    height: 350px !important;
    padding: 0 0 20px 0 !important;
  }
  .violet-box .slider-img,
  .yellow-box .slider-img,
  .purple-box .slider-img {
    width: 260px !important;
  }
}

@media only screen and (min-width: 355px) and (max-width: 395px) {
  .arrivals-img {
    height: 335px !important;
  }
}

@media only screen and (max-width: 425px) {
  .nav-user-list {
    margin: 0 !important;
  }
  .navbar-toggler {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 450px) {
  .hidden-search {
    width: auto !important;
  }
  .item-count {
    left: 12px !important;
  }
}

@media only screen and (min-width: 395px) and (max-width: 510px) {
  .arrivals-img {
    height: 435px !important;
  }
  .violet-box,
  .yellow-box,
  .purple-box {
    padding: 0 0 20px 0 !important;
    height: 400px !important;
  }
  .violet-box .slider-img,
  .yellow-box .slider-img,
  .purple-box .slider-img {
    width: 380px !important;
  }
}

@media only screen and (max-width: 510px) {
  .common-container {
    padding: 0 !important;
  }
  .common-container .my-item {
    text-align: center !important;
    margin-bottom: 50px;
  }
  .common-container .my-item img {
    width: 100% !important;
  }
  .common-container .my-item .text-box {
    width: 100% !important;
    position: static !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .common-container .my-item .two-items-btn {
    margin-top: 10px !important;
    -webkit-transform: none !important;
            transform: none !important;
    position: static !important;
  }
  h1 {
    font-size: 17px !important;
  }
  .violet-paragraph {
    font-size: 11px !important;
  }
}

@media only screen and (min-width: 510px) and (max-width: 768px) {
  .my-item {
    margin-bottom: 100px;
  }
  .my-item img {
    width: 390px !important;
  }
  .my-item .text-box {
    width: 355px !important;
  }
  .my-item .two-items-btn {
    -webkit-transform: translateX(-200%) !important;
            transform: translateX(-200%) !important;
  }
  .menu-box {
    width: 516px !important;
  }
  .arrivals-img {
    height: 485px !important;
  }
  .violet-box,
  .yellow-box,
  .purple-box {
    padding: 0 0 20px 0 !important;
  }
  .violet-box .slider-img,
  .yellow-box .slider-img,
  .purple-box .slider-img {
    width: 455px !important;
  }
  h1 {
    font-size: 22px !important;
  }
  .violet-paragraph {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 768px) {
  .arrivals-container {
    padding: 0 15px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .idea-img {
    height: auto !important;
  }
  .my-item {
    margin-bottom: 100px;
  }
  .my-item .text-box {
    width: 520px !important;
  }
  .my-item .two-items-btn {
    -webkit-transform: translateX(170%) !important;
            transform: translateX(170%) !important;
  }
  .menu-box {
    width: 696px !important;
  }
  .arrivals-img {
    height: 200px !important;
  }
  .arrival-btn {
    font-size: 14px !important;
    height: 35px !important;
    width: 145px !important;
  }
  .violet-box,
  .yellow-box,
  .purple-box {
    height: 540px !important;
    padding: 0 0 20px 0 !important;
  }
  .violet-box .slider-img,
  .yellow-box .slider-img,
  .purple-box .slider-img {
    width: 550px !important;
  }
  h1 {
    font-size: 22px !important;
  }
  .violet-paragraph {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 992px) {
  .right-side-cruelty img {
    width: 100% !important;
  }
  .navbar-toggler {
    margin: 10px 0px !important;
  }
  .nav-item .nav-link {
    color: black !important;
    padding: 10px 0px !important;
  }
  .findus-list {
    display: none !important;
  }
  .menu-box {
    height: 82px !important;
  }
  .my-modal-content {
    width: 100% !important;
  }
  .my-modal-content .empty-modal {
    padding: 50px 0 !important;
  }
  .slider-container {
    padding: 15px !important;
  }
  .slider-container .slider-box {
    text-align: center !important;
  }
  .slider-container .slider-box .violet-box,
  .slider-container .slider-box .yellow-box,
  .slider-container .slider-box .purple-box {
    width: 100% !important;
  }
  .slider-container .slider-box .violet-box .slider-img,
  .slider-container .slider-box .yellow-box .slider-img,
  .slider-container .slider-box .purple-box .slider-img {
    height: auto !important;
    position: static !important;
  }
  .slider-container .slider-box .violet-box {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FBEFEF), to(#FBCFC2)) !important;
    background: linear-gradient(to bottom, #FBEFEF 0, #FBCFC2 100%) !important;
  }
  .slider-container .slider-box .purple-box {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), to(#C679CA)) !important;
    background: linear-gradient(to bottom, #FFFFFF 0, #C679CA 100%) !important;
  }
  .slider-container .slider-box .yellow-box {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), to(#FFF49A)) !important;
    background: linear-gradient(to bottom, #FFFFFF 0, #FFF49A 100%) !important;
  }
  .slider-container .slider-box .violet-btn,
  .slider-container .slider-box .yellow-btn,
  .slider-container .slider-box .purple-btn {
    font-size: 13px !important;
    height: 28px !important;
    width: 119px !important;
  }
}

@media only screen and (min-width: 992px) {
  .my-toggle-btn {
    display: none !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .idea-img {
    height: 201px !important;
  }
  .right-side-cruelty img {
    width: 416px !important;
  }
  .my-item img {
    width: 393px !important;
  }
  .my-item .text-box {
    width: 355px !important;
  }
  .my-item .two-items-btn {
    -webkit-transform: translateX(-205%) !important;
            transform: translateX(-205%) !important;
  }
  .menu-box {
    width: 936px !important;
  }
  .arrivals-img {
    height: 200px !important;
  }
  .card-text {
    font-size: 10px !important;
    margin: 0 !important;
  }
  .card-title {
    font-size: 14px !important;
  }
  .my-modal-content {
    width: 38% !important;
  }
  .my-modal-content .empty-modal {
    padding: 70px 92px !important;
  }
  .slider-img {
    width: 440px !important;
    height: auto !important;
  }
  .violet-box,
  .purple-box,
  .yellow-box {
    height: 346px !important;
    padding: 50px 0px 80px 275px !important;
  }
  .violet-box h1,
  .purple-box h1,
  .yellow-box h1 {
    font-size: 25px !important;
  }
  .violet-box .violet-paragraph,
  .purple-box .violet-paragraph,
  .yellow-box .violet-paragraph {
    font-size: 20px !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .right-side-cruelty img {
    width: 506px !important;
  }
  .my-item img {
    width: 483px !important;
  }
  .my-item .text-box {
    width: 440px !important;
  }
  .my-item .two-items-btn {
    -webkit-transform: translateX(-235%) !important;
            transform: translateX(-235%) !important;
  }
  .menu-box {
    width: 1116px !important;
  }
  .arrivals-img {
    height: 230px !important;
  }
  .my-modal-content {
    width: 33% !important;
  }
  .my-modal-content .empty-modal {
    padding: 70px 99px !important;
  }
  .violet-box,
  .purple-box,
  .yellow-box {
    height: 455px !important;
    padding: 100px 0px 100px 450px !important;
  }
}

ul,
li {
  list-style-type: none;
}

ol,
ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

header .info-text {
  background: -webkit-gradient(linear, left top, right top, from(#ff6699), to(#cc33ff));
  background: linear-gradient(to right, #ff6699 0%, #cc33ff 100%);
  height: 40px;
}

header .info-text p {
  margin-bottom: 3px;
  color: white;
  letter-spacing: .5px;
  font-size: 13px;
  font-weight: 900;
}

header .hidden-menu-box {
  height: 115px;
  width: 100%;
}

header .menu-box {
  background-color: #8cd0e3;
  height: 115px;
  padding: 15px 0px 5px 0px;
}

header .menu-box .nav-user {
  margin: 0 20px;
  height: 67px;
}

header .menu-box .nav-user .nav-user-section .navbar-toggler {
  border: none;
  margin: 0 0 20px 0 !important;
}

header .menu-box .nav-user .nav-user-section .nav-user-list {
  margin: 0 15px;
  text-align: center;
}

header .menu-box .nav-user .nav-user-section .nav-user-list .fa-magnifying-glass,
header .menu-box .nav-user .nav-user-section .nav-user-list .fa-location-dot,
header .menu-box .nav-user .nav-user-section .nav-user-list .fa-hand-sparkles,
header .menu-box .nav-user .nav-user-section .nav-user-list .fa-basket-shopping {
  color: white;
}

header .menu-box .nav-user .nav-user-section .nav-user-list .bag-btn {
  position: relative;
}

header .menu-box .nav-user .nav-user-section .nav-user-list .bag-btn .item-count {
  position: absolute;
  position: absolute;
  top: 8px;
  left: 23px;
  border: 1px solid #f5ea77;
  background-color: #f5ea77;
  border-radius: 50%;
  color: black;
  height: 20px;
  width: 20px;
  font-weight: 600;
  font-size: 13px;
}

header .menu-box .nav-user .nav-user-section .nav-user-list .search-text,
header .menu-box .nav-user .nav-user-section .nav-user-list .findus-text,
header .menu-box .nav-user .nav-user-section .nav-user-list .login-text,
header .menu-box .nav-user .nav-user-section .nav-user-list .bag-text {
  font-size: 15px;
  color: white;
  display: block;
}

header .menu-box .nav-user .logo {
  width: 101px;
  height: 35px;
  margin-top: 15px;
}

header .menu-box .navigation-bar .navbar {
  padding: 0;
  z-index: 999;
}

header .menu-box .navigation-bar .navbar .navbar-nav {
  color: white;
  font-size: 15px;
  font-weight: 600;
}

header .menu-box .navigation-bar .navbar .navbar-nav .nav-link {
  color: white;
  margin: 0 12px;
  padding: 0;
}

header .menu-box .navigation-bar .navbar .navbar-nav .nav-link:hover {
  color: #f5ea77;
}

header .hidden-search-box {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 114px;
  z-index: 999;
}

header .hidden-search-box .hidden-search {
  border: 1px solid gray;
  background-color: #f5ea77;
  padding-left: 15px;
  height: 40px;
  width: 420px;
}

header .hidden-search-box .hidden-search:focus-visible {
  outline: none;
}

header .hidden-search-box ::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

header .hidden-search-box :-ms-input-placeholder {
  color: black;
  opacity: 1;
}

header .hidden-search-box ::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

header .hidden-search-box ::placeholder {
  color: black;
  opacity: 1;
}

header .hidden-search-box :-ms-input-placeholder {
  color: black;
}

header .hidden-search-box ::-ms-input-placeholder {
  color: black;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

main .modal-position .my-modal {
  display: none;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 600px;
  overflow: auto;
}

main .modal-position .my-modal .my-modal-content {
  position: relative;
  background-color: #fefefe;
  width: 30%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

main .modal-position .my-modal .my-modal-content .modal-body {
  padding: 2px 16px;
}

main .modal-position .my-modal .my-modal-content .modal-body .empty-modal {
  display: inline-block;
  padding: 70px 109px;
  text-align: center;
}

main .slider-container {
  background-color: white;
  padding: 40px 40px 10px 40px;
}

main .slider-container .owl-carousel .slider-box {
  position: relative;
}

main .slider-container .owl-carousel .slider-box .violet-box,
main .slider-container .owl-carousel .slider-box .yellow-box,
main .slider-container .owl-carousel .slider-box .purple-box {
  height: 483px;
  width: 80%;
  top: 0;
  right: 0;
  float: right;
  z-index: -1;
  padding: 100px 0px 145px 450px;
}

main .slider-container .owl-carousel .slider-box .violet-box .slider-img,
main .slider-container .owl-carousel .slider-box .yellow-box .slider-img,
main .slider-container .owl-carousel .slider-box .purple-box .slider-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 650px;
  height: 450px;
  display: inline-block;
  padding: 15px;
}

main .slider-container .owl-carousel .slider-box .violet-box h1,
main .slider-container .owl-carousel .slider-box .yellow-box h1,
main .slider-container .owl-carousel .slider-box .purple-box h1 {
  font-weight: bold;
}

main .slider-container .owl-carousel .slider-box .violet-box .violet-paragraph,
main .slider-container .owl-carousel .slider-box .yellow-box .violet-paragraph,
main .slider-container .owl-carousel .slider-box .purple-box .violet-paragraph {
  font-size: 21px;
}

main .slider-container .owl-carousel .slider-box .violet-box .violet-btn,
main .slider-container .owl-carousel .slider-box .violet-box .yellow-btn,
main .slider-container .owl-carousel .slider-box .yellow-box .violet-btn,
main .slider-container .owl-carousel .slider-box .yellow-box .yellow-btn,
main .slider-container .owl-carousel .slider-box .purple-box .violet-btn,
main .slider-container .owl-carousel .slider-box .purple-box .yellow-btn {
  height: 40px;
  width: 145px;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

main .slider-container .owl-carousel .slider-box .violet-box {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #FBEFEF), to(#FBCFC2));
  background: linear-gradient(to right, #FBEFEF 0, #FBCFC2 100%);
}

main .slider-container .owl-carousel .slider-box .violet-box .violet-btn {
  background-color: #8CD0E3;
  -webkit-box-shadow: 3px 3px 0 #f5ea77;
          box-shadow: 3px 3px 0 #f5ea77;
}

main .slider-container .owl-carousel .slider-box .violet-box .violet-btn:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
  background-color: #948AD3;
}

main .slider-container .owl-carousel .slider-box .yellow-box {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), to(#FFF49A));
  background: linear-gradient(to right, #FFFFFF 0, #FFF49A 100%);
}

main .slider-container .owl-carousel .slider-box .yellow-box .yellow-btn {
  background-color: #F4EA77;
  -webkit-box-shadow: 3px 3px #73D2E4;
          box-shadow: 3px 3px #73D2E4;
}

main .slider-container .owl-carousel .slider-box .yellow-box .yellow-btn:hover {
  -webkit-box-shadow: 3px 3px 0 #948ad3;
          box-shadow: 3px 3px 0 #948ad3;
  background-color: #fdb1be;
}

main .slider-container .owl-carousel .slider-box .purple-box {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), to(#C679CA));
  background: linear-gradient(to right, #FFFFFF 0, #C679CA 100%);
}

main .slider-container .owl-carousel .slider-box .purple-box .violet-btn {
  background-color: #8CD0E3;
  -webkit-box-shadow: 3px 3px 0 #f5ea77;
          box-shadow: 3px 3px 0 #f5ea77;
}

main .slider-container .owl-carousel .slider-box .purple-box .violet-btn:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
  background-color: #948AD3;
}

main .arrivals-back {
  background: #f3f8fe;
  padding-top: 30px;
}

main .arrivals-back .arrivals-container {
  padding: 0 55px;
}

main .arrivals-back .arrivals-container .name-of-sect {
  text-align: center;
}

main .arrivals-back .arrivals-container .second-slider {
  position: relative;
}

main .arrivals-back .arrivals-container .second-slider .owl-nav {
  position: absolute;
}

main .arrivals-back .arrivals-container .second-slider .owl-nav .owl-prev {
  position: absolute;
}

main .arrivals-back .arrivals-container .second-slider .arrivals-img {
  height: 290px;
  background-repeat: no-repeat;
  background-size: contain;
}

main .arrivals-back .arrivals-container .second-slider .arrivals-img span {
  padding: 3px 8px;
  background-color: #F5EA77;
  color: #333;
}

main .arrivals-back .arrivals-container .second-slider .img-1 {
  background-image: url("../img/Skin_Mergency_Treatment_Set_Carton_Front__58833.jpg");
}

main .arrivals-back .arrivals-container .second-slider .img-1:hover {
  background-image: url("../img/Skin_Mergency_Lactic_Acid_PINK_SWATCH_A__21458.jpg");
}

main .arrivals-back .arrivals-container .second-slider .img-2 {
  background-image: url("../img/KP_Skin_Smoothing_Body_Butter__13368.jpg");
}

main .arrivals-back .arrivals-container .second-slider .img-2:hover {
  background-image: url("../img/KP_Skin_Smoothing_Body_Butter_Swatch_A__26980.webp");
}

main .arrivals-back .arrivals-container .second-slider .img-3 {
  background-image: url("../img/Mighty_Biome_Moisturizer_Concentrate_Front__50376.webp");
}

main .arrivals-back .arrivals-container .second-slider .img-3:hover {
  background-image: url("../img/Mighty_Biome_Moisturizer_Concentrate_Swatch_A__27977.webp");
}

main .arrivals-back .arrivals-container .second-slider .img-4 {
  background-image: url("../img/Mighty_Biome_Toner_Front__30153.webp");
}

main .arrivals-back .arrivals-container .second-slider .img-4:hover {
  background-image: url("../img/Mighty_Biome_Toner_Swatch_A__13604.webp");
}

main .arrivals-back .arrivals-container .second-slider .card-body {
  text-align: center;
  height: 190px;
  padding: 0 0 15px 0;
  position: relative;
}

main .arrivals-back .arrivals-container .second-slider .card-body .card-title {
  font-size: 16px;
  line-height: 17px;
  font-weight: 600;
  color: #333;
}

main .arrivals-back .arrivals-container .second-slider .card-body .card-text {
  font-size: 13px;
  line-height: 15px;
  margin-top: 8px;
}

main .arrivals-back .arrivals-container .second-slider .card-body .arrival-btn {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20px;
  height: 40px;
  width: 180px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: #8CD0E3;
  -webkit-box-shadow: 3px 3px 0 #f5ea77;
          box-shadow: 3px 3px 0 #f5ea77;
}

main .arrivals-back .arrivals-container .second-slider .card-body .arrival-btn:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
  background-color: #948AD3;
}

main .only-bliss-container {
  background-color: white;
}

main .only-bliss-container .border-box {
  border: 1px solid #8cd0e3;
  border-right: none;
  border-left: none;
  padding: 10px 0;
}

main .only-bliss-container .border-box h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin: 0;
}

main .only-bliss-container .border-box .items-box {
  width: 220px;
}

main .only-bliss-container .border-box .items-box img {
  margin-bottom: 10px;
  display: inline-block;
}

main .only-bliss-container .border-box .items-box .text-box {
  margin-left: 10px;
}

main .only-bliss-container .border-box .items-box .text-box p {
  font-weight: bold;
  margin: 0;
  font-size: 12px;
  text-align: left;
}

main .rating {
  margin-bottom: 8px;
}

main .rating .fa-heart {
  color: #73D2E6;
}

main .rating .my-heart {
  color: #D7D7D7;
}

main .gradient-box {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8cd0e3), to(#f08ccd));
  background: linear-gradient(to bottom, #8cd0e3 0, #f08ccd 100%);
}

main .gradient-box .common-container {
  padding: 45px 63px 85px;
}

main .gradient-box .common-container .my-item {
  position: relative;
}

main .gradient-box .common-container .my-item img {
  width: 573px;
}

main .gradient-box .common-container .my-item .text-box {
  width: 520px;
  position: absolute;
  bottom: -28px;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  text-align: center;
  background-color: white;
  padding: 13px 38px 24px;
}

main .gradient-box .common-container .my-item .text-box h3 {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  font-weight: bold;
}

main .gradient-box .common-container .my-item .text-box p {
  font-size: 16px;
  line-height: 19px;
}

main .gradient-box .common-container .my-item .two-items-btn {
  position: absolute;
  -webkit-transform: translateX(-272%);
          transform: translateX(-272%);
  bottom: -45px;
  height: 40px;
  width: 130px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: #8CD0E3;
  -webkit-box-shadow: 3px 3px 0 #f5ea77;
          box-shadow: 3px 3px 0 #f5ea77;
}

main .gradient-box .common-container .my-item .two-items-btn:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
  background-color: #948AD3;
}

main .back-cruelty {
  background: #d4deff;
  padding: 40px;
}

main .back-cruelty .left-side-cruelty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .back-cruelty .left-side-cruelty h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  color: #000;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

main .back-cruelty .left-side-cruelty p {
  font-size: 16px;
}

main .back-cruelty .left-side-cruelty .cruelty-btn {
  height: 40px;
  width: 180px;
  border: none;
  margin-bottom: 10px;
  border-radius: 0;
  cursor: pointer;
  background-color: #8CD0E3;
  -webkit-box-shadow: 3px 3px 0 #f5ea77;
          box-shadow: 3px 3px 0 #f5ea77;
}

main .back-cruelty .left-side-cruelty .cruelty-btn:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
  background-color: #948AD3;
}

main .back-cruelty .right-side-cruelty img {
  width: 596px;
}

main .idea-back {
  background-color: #ffe7cd;
  text-align: center;
  padding: 30px;
}

main .idea-back h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

main .idea-back p {
  font-size: 16px;
  line-height: 19px;
}

main .idea-back .card {
  border: none;
  background-color: transparent;
  margin-top: 20px;
}

main .idea-back .card .idea-img {
  height: 291px;
  background-size: cover;
}

main .idea-back .card .card-body {
  height: 140px;
  position: relative;
}

main .idea-back .card .card-body .card-title {
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  color: #000;
}

main .idea-back .card .card-body .card-text {
  font-size: 13px;
  line-height: 17px;
}

main .idea-back .card .card-body .idea-btn {
  position: absolute;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  bottom: 0px;
  height: 40px;
  width: 180px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: #8CD0E3;
  -webkit-box-shadow: 3px 3px 0 #f5ea77;
          box-shadow: 3px 3px 0 #f5ea77;
}

main .idea-back .card .card-body .idea-btn:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
  background-color: #948AD3;
}

main .last-slider-box {
  background-color: white;
  padding: 20px 40px;
  text-align: center;
}

main .last-slider-box a {
  color: black;
  font-size: 28px;
  font-weight: bold;
}

footer .ftr-box {
  border-top: 1px solid #e5e5e5;
  background-color: #73d2e6;
}

footer .ftr-box .left-side-ftr {
  padding: 40px 20px 0 40px;
}

footer .ftr-box .left-side-ftr img {
  width: 80px;
}

footer .ftr-box .left-side-ftr h3 {
  margin-top: 10px;
  font-size: 24px;
  line-height: 22px;
  color: white;
}

footer .ftr-box .left-side-ftr p {
  color: white;
}

footer .ftr-box .left-side-ftr ul li {
  padding: 0;
  background-color: transparent;
  border: none;
}

footer .ftr-box .left-side-ftr a {
  color: white;
}

footer .ftr-box .left-side-ftr i {
  margin-right: 5px;
  color: #ff99cc;
}

footer .ftr-box .mail-box {
  height: 100%;
  padding: 28px 20px;
  background-color: #f5ea77;
  text-align: center;
}

footer .ftr-box .mail-box h3 {
  font-size: 20px;
  color: black;
}

footer .ftr-box .mail-box p {
  font-size: 16px;
  line-height: 21px;
}

form .mail-text {
  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  color: #666;
  height: 48px;
  font-size: 15px;
  margin-bottom: 30px;
  padding-left: 10px;
}

form .mail-text:focus-visible {
  outline: none;
}

form .mail-btn {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: #8CD0E3;
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
}

form .mail-btn:hover {
  background-color: #948AD3;
}

.owl-dot span {
  background: transparent !important;
  border: 1px solid #C1C1C1 !important;
}

.owl-dots {
  margin-top: 10px;
}

.owl-dots .owl-dot.active span {
  background-color: #aab7e4 !important;
  border: 20px !important;
  width: 23px !important;
  height: 10px !important;
}

@media only screen and (max-width: 992px) {
  .col-info {
    padding: 70px 12px 0 12px !important;
  }
  .desc-content {
    margin: 0 !important;
  }
  #content-1 {
    margin: 20px 20px 12px 20px !important;
  }
}

.info-back {
  background: -webkit-gradient(linear, left top, right top, color-stop(37%, #f3daeb), to(#fff));
  background: linear-gradient(to right, #f3daeb 37%, #fff 100%);
  padding: 40px 40px 60px 40px;
}

.item-slider-btn {
  width: 65px !important;
}

.item-slider-btn img {
  border: 1px solid #f5ea77 !important;
}

.col-info {
  padding-left: 70px;
}

.col-info .item-info .preheader {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 1rem;
}

.col-info .item-info h1 {
  font-weight: bold;
  font-size: 35px;
  line-height: 39px;
}

.col-info .item-info .short-desc {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 24px;
}

.col-info .item-info .item-btn {
  height: 40px;
  width: 180px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: #f5ea77;
  -webkit-box-shadow: 3px 3px 0 #8CD0E3;
          box-shadow: 3px 3px 0 #8CD0E3;
}

.col-info .item-info .item-btn:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
  background-color: #948AD3;
}

.info-item-count {
  border: 1px solid #c2c2c2;
  padding: 4px 8px;
  width: 86px;
}

.info-item-count input {
  background-color: transparent;
  border: none;
  width: 30px;
  text-align: center;
}

.info-item-count i {
  cursor: pointer;
}

.read-reviews {
  font-size: 13px;
  color: black;
  text-decoration: underline;
}

.read-reviews:hover {
  color: #757575;
}

.desc-box {
  background-color: #f4f9fb;
  padding: 60px 0 40px 0;
}

.desc-box .desc-content {
  margin: 0 100px;
}

.desc-box .desc-content .tabs {
  border-top: 1px solid #8cd0e3;
  border-bottom: 1px solid #8cd0e3;
}

.desc-box .desc-content .tabs ul {
  text-align: center;
  margin: 0;
}

.desc-box .desc-content .tabs ul li {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}

.desc-box .desc-content .tabs ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.desc-box .desc-content .tabs ul .active {
  color: #5fbccf;
}

.desc-box .desc-content .tab-content {
  margin: 50px 50px 30px 50px;
}

.desc-box .desc-content .tab-content ul {
  font-size: 13px;
  line-height: 17px;
}

.desc-box .desc-content .tab-content ul li {
  margin-bottom: 16px;
}

.desc-box .desc-content .tab-content .logo-imgs img {
  margin-right: 8px;
}

@media only screen and (max-width: 1200px) {
  .col-lg-6.d-flex {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 992px) {
  .col-lg-6.d-flex {
    margin-top: 20px;
  }
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

p {
  margin-bottom: 15px;
}

.story-box {
  background-color: white;
  padding: 40px;
  text-align: center;
}

.story-box .page-heading {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 3rem;
}

.story-box img {
  width: 100%;
}

.story-box .col-lg-6.d-flex {
  padding: 0 70px;
}

.heroes-white-back {
  background-color: white;
  padding: 0 0 50px;
}

.heroes-white-back .heroes-box {
  background-color: #f4f9fb;
  padding: 20px;
  text-align: center;
  margin: 0 27px;
}

.heroes-white-back .heroes-box .heroes-col img {
  width: 100%;
}

.heroes-white-back .heroes-box .heroes-col h3 {
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 576px) {
  .sign-in-back {
    padding: 10px !important;
  }
  .sign-in-back .sign-in-box {
    padding: 0 !important;
  }
}

.sign-in-back {
  background-image: url("../img/circle-bk.png");
  background-color: #f6ecf3;
  padding: 50px 45px 80px;
}

.sign-in-back .sign-in-box {
  height: 500px;
  margin-bottom: 20px;
  background-color: white;
  padding: 90px 82px;
}

.sign-in-back .sign-in-box h3 {
  font-size: 18px;
  font-weight: bold;
}

.sign-in-back .sign-in-box p {
  font-size: 16px;
  text-align: center;
}

.sign-in-back .sign-in-box .new-customer-fact {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 40px;
  border-top: 1px solid #f08ccd;
  border-bottom: 1px solid #f08ccd;
}

.sign-in-back .sign-in-box .new-customer-fact p {
  margin: 0;
}

.sign-in-back .sign-in-box .sign-in-btn {
  height: 40px;
  width: 180px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: #8CD0E3;
  -webkit-box-shadow: 3px 3px 0 #f5ea77;
          box-shadow: 3px 3px 0 #f5ea77;
}

.sign-in-back .sign-in-box .sign-in-btn:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
  background-color: #948AD3;
}

.basket-box {
  background-color: white;
  padding: 20px;
}

.basket-box .basket-title {
  font-size: 35px;
  font-weight: bold;
}

.basket-box .checkout-btn {
  height: 40px;
  width: 180px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: #8CD0E3;
  -webkit-box-shadow: 3px 3px 0 #f5ea77;
          box-shadow: 3px 3px 0 #f5ea77;
}

.basket-box .checkout-btn:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
  background-color: #948AD3;
}

* {
  font-family: "Inter", sans-serif;
}

* .background {
  background-image: url("../img/pexels-madison-inouye-1831234.jpg");
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */