@import "./partials/variables/variables";
@import "./partials/pages/home";
@import "./partials/pages/productDetail";
@import "./partials/pages/whoweare";
@import "./partials/pages/signin";
@import "./partials/pages/basket";
@import "./partials/pages/search";

*{
    font-family: $primary-font;
    .background {
        background-image: url("../img/pexels-madison-inouye-1831234.jpg");
        background-position: center;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: cover;
    }
}